/* Configuración básica */
body {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  background-color: black;
  color: white;
  text-align: center;
}

/* Estilo del encabezado */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px; /* Tamaño más grande */
  background-color: #222;
}

.header-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1.5rem; /* Aumentar tamaño del texto */
}

.left, .right {
  flex: 1;
  text-align: start;
}

.right {
  text-align: end;
}

.center {
  flex: 1;
  text-align: center;
}
.center i {
  font-size: 2.5rem; /* Tamaño del icono */
  color: white; /* Color del icono */
  display: inline-block; /* Asegura que se alinee correctamente */
}


.icon {
  font-size: 2rem; /* Tamaño del icono */
}

/* Estilo del contenido principal */
main {
  margin-top: 20px;
}

.welcome-container {
  position: relative;
  display: inline-block;
}
.welcome-text {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  padding: 10px 20px;
  color: white;
  z-index: 2;
}

.main-image {
  max-width: 80%;
  height: auto;
}